#title{
    background-color: #ff4c68;
    color: #fff;
    
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container-fluid{
    padding: 3% 10%;
}
h1{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
}
p{
    color: #8f8f8f;
    font-weight: bolder;
}
/* NAVIGATION BAR */

.navbar{
    padding:0 0 4.5rem;
}

.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 20px;
}
.nav-link{
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

/* Download-button */
.Download-button {
    margin: 5% 3% 30% 0;
}

/* title image */


.dog-image{
    width: 60%;
    transform: rotate(25deg);
    position: relative;
    left: 100px;
    
    
}
.title-image-container-height{
    height: 500px;
}

/* Feature section */
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
    bottom: 30px;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

/* Testimonials section */

#testimonials {
    padding: 7% 8%;
    text-align: center;   
    background-color: #ef8172;
    color: #fff;
}
.carousel-item{
    padding: 7% 15%;;
}

.testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}
 
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing section */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 5%;
}

/* Media */
@media (max-width:1028px) {
    #title{
        text-align: center;
    }
    .dog-image{
        position: static;
        transform: rotate(0);
    }
}
/* Cta section */
.word{
    font-size: 3.5rem;
    line-height: 1.5;
}

#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
    color: #fff;
}
.download-button{
    margin: 0 3%;
}

/* Footer */

#footer {
    text-align: center;
    background-color: #fff;
    padding: 4% 15%;
}
.social-icon{
    padding: 0 8px;
} 
.facebook-icon{
    color: #3b5998;
}
.twitter-icon{
color: #00acee;
}
.instagram-icon {
color: rgb(221,42,123);
}
.mail-icon{
color: #4285F4;
}